<?xml version='1.0' encoding='utf-8'?>
<widget id="io.bequietsoft.freespace" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>freespace</name>
    <description>
        Template project for web, desktop and mobile VR application using NodeJS, ThreeJS and MongoDB
    </description>
    <author email="a807a7@gmail.com" href="https://github.com/bequietsoft/freespace">
        default
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="*"/>
    <plugin name="cordova-plugin-splashscreen" source="npm" />  
    <preference name="SplashScreenDelay" value="30000" />  
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashMaintainAspectRatio" value="true" /> 
    <allow-navigation href="https://*youtube.com/*"/>
    <icon src="icon.png" />
    <splash src="splash.png" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
